.sg-section {
  margin-top: 4rem;
}

.sg-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.sg-section__header h2 {
  margin: 0;

  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 500;

  color: var(--color-heading);
}

.sg-section__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}